*{
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
}
body{
  margin: 0;border: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

button{
  background-color: rgba(255, 255, 255, 0.294);
  border: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  color: white;
}

.board-bg {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.main-header{
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.301);
}
.card-search{
  display: inline;
  position: relative;
}
.card-search input{
  position: absolute;
  left: 0;
  top: 30px;
  opacity: 0.2;
}
.card-search button{
}
.btn-board-selection {
  font-weight: 700;
}

/* logo */
.header-logo{
  width: 90px;
  height: 35px;
  background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.header-left{
  
}
.header-right{
  display: inline-block;
}
.my-cards{
  position: absolute;
  right: 5px;
}

.sub-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}
.sub-header-left,
.sub-header-right{
  display: flex;
  align-items: center;
}
.sub-header-right button{
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.7);
}
.board-name{
  text-align: center;
  min-width: 160px;
  height: 25px;
  font-size: 20px;

  padding: 4px;
  display: inline-block;
}
.board-name-input{
  width: 160px;
  height: 30px;
  font-size: 20px;

  padding: 0;
  margin: 0;
  resize: none;
  overflow-y: hidden;
  overflow-wrap: break-word; 
  scroll-snap-type: none;
  text-align: center;
  display: none;
}

.favorite {
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.7);
  border: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
}

.sub-header-right {
  transform: translate3d(340px,0,0);
  z-index: 10;
}
.active{
  transform: translate3d(0,0,0);
}
  /* 사이드메뉴 */
.side-menu{
  width: 340px;
  background-color: beige;
  height: 100vh;
}
.side-menu *{
  background-color: blue;
}



/* 메인 */
main{
  border: rgba(70, 131, 180, 0.212) 2px solid;
  white-space: nowrap;
  user-select: none;
  overflow-y: hidden;
  overflow-x: auto;
  position: absolute;
  height: 90%;
  width: 100vw;
}

