.main-wrapper {
    height: 100%;
}
.list-wrapper:first-child {
  margin-left: 8px;
}
.list-wrapper{
  display: inline-block;
  height: 100%;
  width: 270px;
  border: 1px rgba(0, 255, 128, 0.363) solid;
  margin: 0 4px;
  vertical-align: top;
  white-space: nowrap;
}
.list{
  background-color: #23641a;
  border-radius: 3px;
  box-sizing: border-box;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
}
.list-content{
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
}
.list *{
  border: 1px rgba(250, 128, 114, 0.041) solid;
}
.list-header-name {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 28px;
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 600;
  margin: -4px 0;
  resize: none;
  padding: 4px 8px;
  letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}
.list-container {
  padding: 0;
  margin: 0;
}
.remove-list-btn {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}

/* 리스트 추가 박스 */
/* 카드추가 박스랑 중복 통일 하기 */
.list-add-box {
  font-size: 1.5em;
  line-height: 26px;
  height: 40px;
  width: 270px;
  min-height: 32px;
  background-color: rgba(0,0,0,.08);
  cursor: pointer;
  border-radius: 3px;
  margin-right: 8px;
  position: relative;
  border-radius: 3px;
  box-sizing: border-box;
}

.add-mod {
  width: 270px;
  background-color: #ebecf0;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
}
.list-add-btn {
  background-color: rgb(165, 27, 27);
  cursor: pointer;
}
.add-mod-close-btn {
  width: 24px;
  height: 25px;
}

/* 카드 추가 박스 */

.card-add-box {
  font-size: 1.5em;
  line-height: 26px;
  height: 40px;
  width: 270px;
  min-height: 32px;
  /* background-color: rgba(0,0,0,.08); */
  cursor: pointer;
  border-radius: 3px;
  margin-right: 8px;
  position: relative;
  border-radius: 3px;
  box-sizing: border-box;
}

.card-name-box {
  width: 256px;
  height: 66px;
}

.card-add-mod {
  width: 270px;
  background-color: #ebecf0;
  position: absolute;
  top: 0;
  left: 0;
  /* height: 80px; */
}

.card-add-btn {
  background-color: rgb(165, 27, 27);
  cursor: pointer;
}

.card-add-mod-close-btn {
  width: 24px;
  height: 25px;
}

.list-shadow
