.card-box {
    width: 100%;
    background-color: #ebecf0;    
    list-style: none;
}
.card-shadow {
    width: 254px;
    height: 30px;
    background-color: rgba(250, 128, 114, 0.41);
    list-style: none;
    margin: 3px auto;
    border-radius: 3px;
    
}
.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 0px;
    border-radius: 3px;

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}
.card-remove-btn {
    color: black;
}
.drag-shadow {
    height: auto;
}