*{
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
}


::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  background-color: rgb(184, 184, 184);
  scrollbar-track-color: transparent;
  border-radius: 4px;
}

h1,h2,h3{
  margin: 0;
  font-weight: 500;
}
body{
  margin: 0;border: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

button{
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  color: white;
}

[class^='btn']:hover{
  background-color: rgba(255, 255, 255, 0.144);
}

.board-bg {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.shadow-overlay{
  background: linear-gradient(#000000a9, transparent 40%);
}

.main-header{
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.301);
}

/* header-left */
.header-left{
  display: flex;
  align-items: flex-start;
  width: 15%;

}
.header-left button{
  margin-right: 3px;
}


.btn-board-selection {
  font-weight: 700;
}


/* logo */
.header-logo{
  width: 90px;
  height: 35px;
  background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}


/* header-right */
.header-right{
  display: inline-block;
  width: 15%;
  text-align: right;
}
.card-search{
  display: inline;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 30px;

  white-space: nowrap;
}
.search-active{
  background-color: white;
}

.card-search-input{
  background-color: transparent;
  border: none;
  height: 30px;
  width: 110px;
  margin: 0 10px;
  transition: width ease-in-out 200ms ;
  color: white;
}
.search-active .card-search-input{
  width: 150px;
  color: black;
}

.card-search i{
  height: 30px;
  margin: 0 10px;
  color: white;
}
.search-active  i{
  color: black;
}

.btn-my-profile-icon{
  margin: 0 2px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: rgb(243, 243, 243);
  color: rgb(63, 63, 63);
}
.btn-my-profile-icon:hover{
  background-color: rgb(243, 243, 243);
}

.my-cards{
  position: absolute;
  right: 5px;
  background-color: rgba(0, 255, 128, 0.164);
}



/* 서브헤더 */
.sub-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}
.sub-header-left{
  display: flex;
  align-items: center;
}

.sub-header-right button{
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.7);
}
.board-name{
  text-align: center;
  min-width: 160px;
  height: 25px;
  font-size: 20px;

  padding: 4px;
  display: inline-block;
}
.board-name-active > .board-name{
  display: none;
}
.board-name-input{
  width: 160px;
  height: 30px;
  font-size: 20px;

  padding: 0;
  margin: 0;
  resize: none;
  overflow-y: hidden;
  overflow-wrap: break-word; 
  scroll-snap-type: none;
  text-align: center;
  display: none;
}
.board-name-active .board-name-input{
  display: inline-block;
}
.favorite {
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  border: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
}
.favorite.fas{
  color: rgb(255, 208, 0)  
}

.sub-header-right{
  transform: translate3d(340px,0px,0);
  z-index: 2;
  transition: transform ease-in-out  80ms;

  display: flex;
  align-items: flex-start;
  position: absolute;
  top:0;
  right:0;
}
.sub-header-right .btn-menu{
  margin: 6px 0;
}

.active{
  transform: translate3d(0,0,0);
}


/* 메인 */
main{
  border: rgba(70, 131, 180, 0.212) 2px solid;
  white-space: nowrap;
  user-select: none;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: 200px;
  position: absolute;
  height: 91.5vh;
  width: 100vw;
  display: flex;
  /* for moz */
  scrollbar-width: thin;
  scrollbar-color: #e8e8e8 transparent;
}

