.side-menu{
  width: 340px;
  height: 98vh;
  background-color: rgb(231, 231, 231);

  margin: 0;
  padding-left: 18px;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.side-menu hr{
  margin: 2px;
  margin-top: 0px;
}
.sub-header-right.side-menu-active{
  transform: none
}
.sub-header-right.side-menu-active >.btn-menu-show{
  display: none;
}
.btn-menu-show{
  transform: translate3d(0,6px,0);
}
.main-tab-header{
  height: 44px;
  text-align: center;
}
.main-tab-header h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 40px ;
  text-align: center;
  display: inline-block;
}
.btn-menu-close{
  color:black !important;
  font-size: 20px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://icons-for-free.com/iconfiles/png/512/x-1321215629555778185.png);

  position: absolute;
  top: 12px;
  right: 15px;
}

.menu-list{
list-style: none;
margin: 0;
padding: 0;
font-size: 16px;
}
.menu-list li,
.activity-item{
  margin: 10px 0;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.board-info{
  display: block !important;
}
.menu-list li:hover{
background-color: rgba(0, 0, 0, 0.06);
}

.board-info::after{
  content: "Add a description to your board";
  color: rgb(167, 167, 167);
  display: block;
  margin-left: 32px;
  margin-top: 5px;
  font-weight: 500;
}

.menu-list li i{
margin:  0 10px 0 0;
}


.bg-squre,.sticker{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 5px;
  margin-right: 8px;
  
}

/* bg-chang */
.bg-tab-header{
  position: fixed;
  top:38px;
  display: flex;
  background-color: rgb(231, 231, 231);
  align-items: flex-start;
}
.btn-bg-previous{
  color:black !important;
  display: inline-block;
  width: 20px;
  height: 50px;
  margin-right: 10px;

  z-index: 3;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(https://cdn.icon-icons.com/icons2/494/PNG/512/chevron-left_icon-icons.com_48335.png);
}
.bg-source{
  display: inline-block;
  font-size: 16px;
  margin: 0;
  width: 270px;
  line-height: 50px; 
}

.bg-source a{
  text-decoration: none;
  color: rgb(90, 90, 90);
}

.bg-photos-list{
  line-height: 0px;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 700px;
  padding-top: 60px;

  overflow: scroll;
}
.bg-photos-list li{
  display: inline-block;
}
.bg-photos-list-items{
  width: 140px;
  height: 90px;
  margin: 2px;

  border-radius: 8px;
  background-size: cover;
}


.bg-menu-header {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 18px;
  margin-bottom: 4px;
}
.bg-menu-header div{
  transform: translate3d(0,3px,0);
}
.bg-menu-header *{
  display: inline-block;
}
/* lazy loading */
.lazy-img{
  background-image: url(https://thumbs.gfycat.com/ArtisticShoddyKudu-small.gif);
  opacity: 0.2;
}
.fade {
  transition: opacity .8s;
  opacity: 1;
}

/* activity */
.list-icon{
margin: 0 12px;
}
.activity-header{
display: inline;
}
/* 일단 로그 */

.activity-wrapper{
  margin-top: 15px;
}

.activity-logs{
background-color: springgreen;
height: 200px;
}


.sticker{
  background-size: contain;
  background-image: url(https://image.flaticon.com/icons/png/512/202/202680.png);  
}

.main-tab-wrapper,
.bg-tab-wrapper,
.about-tab-wrapper{
  user-select: none;
  display: none;
} 

.tab-wrapper-active{
  display: block;
}